.navbar {
  /* background-color: transparent; */
  box-shadow: 0px 0px 7px;
}
.stylesfont {
  font-family: "Bruno Ace SC", cursive;
}
.welcomefont {
  font-family: "Alfa Slab One", cursive;
}
body {
  font-family: "Poltawski Nowy", serif;
  z-index: 2;
  overflow-x: hidden;
}
.main {
  animation: zoom-in-fade 2s ease-in-out;
  z-index: -10rem;
}
@keyframes zoom-in-fade {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  z-index: 2000;
}
.welcometext {
  background-image: url("./assets/daramain.webp");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer {
  background-image: url("./assets/walefooter.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.face1 {
  background-image: url("./assets/funkeface1.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.face2 {
  background-image: url("./assets/funkeface2.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.overlay2 {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s ease-in-out;
  z-index: 2000;
}
.welcomeshow {
  filter: blur(0);
  transition: all 1s ease-in-out;
}
.welcome {
  transition: all 1s;
  filter: blur(5px);
}
.no {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(100%);
}
.nav-image {
  z-index: -100000;
}
.nav {
  z-index: 1000000;
}
.loading-spinner {
  width: 15px;
  height: 15px;
  margin-top: 1rem;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.funke:hover {
  animation: scale 2s linear;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}
.head {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: scale(0);
}

.showhead {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 1s;
}
.text {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100px);
}

.showtext {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0px);
  transition: all 1s;
}
.funke {
  box-shadow: 0px 0px 7px #fec310;
}

.slider,
.slider2 {
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  width: calc(250px * 20);
  animation: scroll 40s linear infinite;
}
.dara-slidetrack,
.banjo-slidetrack {
  display: flex;
  width: calc(100px * 20);
  animation: dara 30s linear infinite;
}
.slide-track2 {
  display: flex;
  width: calc(250px * 20);
  animation: scroll2 40s linear infinite;
}
@keyframes dara {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 10));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(calc(-250px * 10));
  }
  100% {
    transform: translateX(0);
  }
}
.slide-track:hover,
.slide-track2:hover {
  animation-play-state: paused;
}
.slide,
.slide2 {
  /* height: 30vh; */
  width: 100px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
h5:hover {
  transform: translateZ(20px);
  transition: transform 1s;
}
.slider::before,
.slider::after,
.slider2::before,
.slider2::after {
  background: linear-gradient(
    to right,
    #151515 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before,
.slider2::before {
  left: 0;
  top: 0;
}
.slider::after,
.slider2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.dara-main {
  background-color: black;
  width: 100vw;
  height: 25vw;
  place-items: center;
  overflow: hidden;
}
.dara-slide {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 7vw;
  perspective: 100px;
  flex-direction: column;
  justify-content: center;
  height: 10vw;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 800;
  background-color: #fec310;
  color: #000009;
  font-family: 'Bruno Ace SC', cursive;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.daratype {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; 
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
  z-index: 100000000;
  position: relative;
  color: #fec310;
  font-family: "Lobster", cursive;
}
.portfolio{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; 
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
  z-index: 100000000;
  position: relative;
  color: #fec310;
  font-family: "Lobster", cursive;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
